.venv/
env/
__pycache__/
Lib/
Include/
Scripts/
Share/
models-checkpoints/
pyvenv.cfg
example-skecths/
figures/
generated_images/
images1 (random)/
images2 (themesofintrist) 2020+/
images2.5 (themesofintrist) all/
images3 (objectstotest) 2020+/
images2020+(incomplete)/
maybeinclude/
256x256/
non_edge_map_generated_images/