.venv/
env/
__pycache__/
Lib/
Include/
Scripts/
Share/
models-checkpoints/
pyvenv.cfg
example-skecths/
figures/
generated_images/
Generated_Lego_datasets/
256x256/
non_edge_map_generated_images/
clipasso
diffvg
Lego_256x256/sketch
Legodataset