torch==2.2.0 --index-url https://download.pytorch.org/whl/cu121
torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cu121

diffusers==0.31.0
transformers==4.30.0
einops
safetensors>=0.3.1
albumentations

numpy<2.0
matplotlib
